<div class="col-lg-3 d-none d-lg-block">
    <ul class="list-group myStickyListGroup shadow bg-white rounded">
        <li class="list-group-item rounded">
            <center>
                <pre>Actions</pre>
            </center>
        </li>
        <li class="list-group-item rounded">
            <a href="?scene=inventory" class="list-group-item list-group-item-action">Inventory</a>
        </li>

        <li class="list-group-item rounded">
            <a href="?scene=shops" class="list-group-item list-group-item-action">Shops</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>
