<div class="col-lg-3 d-none d-lg-block">
    <ul class="list-group myStickyListGroup shadow bg-white rounded">
        <li class="list-group-item rounded">
            <center>
                <pre>Status</pre>
            </center>
            {% if player.isFighting %}
                <p>Combat: <img src="./images/combat.gif" title="Currently fighting"></p>
                <p>Dungeon: {{ player.huntingDungeon.name }}</p>
            {% else %}
                <p>Combat: <img src="./images/pz.gif" title="In protective zone"></p>
                <p>Dungeon: In protective zone</p>
            {% endif %}
        </li>
        <li class="list-group-item rounded">
            <a href="?scene=inventory" class="list-group-item list-group-item-action">Inventory</a>
        </li>

        <li class="list-group-item rounded">
            <a href="?scene=shops" class="list-group-item list-group-item-action">Shops</a>
        </li>
        <li class="list-group-item rounded">Mining</li>
        <li class="list-group-item rounded">Gathering</li>
        <li class="list-group-item rounded">Harvesting</li>
    </ul>
    <hr class="d-sm-none">
</div>
