{% extends "minimalistic.template.twig" %}

{% block content %}
    <div class="card-body flex-column">
        <h5 class="card-titles">Highscores Top 100</h5>
        <div class="container">
            <div class="row">
                <input type="text" id="myInput" onkeyup="searchPlayer()" placeholder="Search for player..">
                <table id="myTable">
                    <tr class="header">
                        <th style="width:20%;">Name</th>
                        <th style="width:20%;">Level</th>
                        <th style="width:20%;">Experience</th>
                    </tr>
                    {% for topPlayer in topPlayers %}
                        {% if topPlayer.isAdmin %}
                            <tr title="This player is a gamemaster.">
                            <td><font color="red">{{ topPlayer.name }}</font></td>
                        {% else %}
                            <tr>
                            <td>{{ topPlayer.name }}</td>
                        {% endif %}
                        <td>{{ topPlayer.level }}</td>
                        <td>{{ topPlayer.exp }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        function searchPlayer() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
