<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eloth Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="text-align: center;">
    {% if error != '' %}
        <p style='color:red'>{{ error }}</p>
    {% endif %}
    <!-- The login form -->
    <form method="post">
        <label for="username">Username:</label><br>
        <input type="text" name="username" value="{{ username }}" required><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" required><br><br>
        <input type="submit" name="login" value="Log In">
    </form>
    <a href="/?scene=auth&tab=register">Register</a>

</div>
</body>
